@import url(https://fonts.googleapis.com/css?family=Quicksand:300);

* {
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #334514;
    text-align: center;
    height: 100%;
    width:100%;
}

h1 {
  margin-top: 35px;
  font-family: Quicksand;
  text-weight: 900;
  text-shadow: 200px 35px 0px white,
               -200px -35px 0px white,
               200px -35px 0px black,
               -200px 35px 0px black,
               1px 1px 1px black,
               2.5px 2.5px 9px white;
  color: gray;
  font-size: 4rem;
}

#game {
  display: inline-block;
  margin: 0 auto;
  margin-top: 42px;
  height: 500px;
  width: 500px;
  padding: 10px 10px 10px 10px;
  background: olive;
  border-radius: 10px;
  box-shadow: 3px 3px 7px -2px #333333;
}

.cells {
  height: 52px;
  width: 52px;
  margin: 2px 2px 2px 2px;
  background-color: #858585;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 3px -2px #323232;
}

.OHighlight {
  background-color: rgba(235,235,235,0.8);
}

.O {
  background-color: rgba(235,235,235,1);
}

.XHighlight {
  background-color: rgba(27,27,27,0.8);
}

.X {
  background-color: rgba(27,27,27,1);
}

.scorecard {
  height: 10%;
  width: 10%;
  border-radius: 10px;
  font-size: 7rem;
  font-family: Quicksand;
  color: gray;
}

.dark {
  margin: 15% 0px 0px 15%;
  float: left;
  background-color: rgba(27,27,27,1);
  text-shadow: 1.5px 1.5px 0px white;
}

.light {
  background-color: rgba(235,235,235,1);
  float: right;
  margin: 15% 15% 0px 0px;
  background-color: #EBEBEB;
  text-shadow: 2px 2px 0px black;
}

h3 {
  display: inline-block;
  margin: 0 auto;
  padding-top: .14rem;
  padding-left: .07rem;
}
