* {
      box-sizing:  border-box;
      margin: 0;
      padding: 0;
      text-align: center;
      height: 100%;
      width: 100%;
      font-size: 8px;
    }

body {
    padding: 0;
    margin: 0;
    background-color: pink;
    text-align: center;
    height: 100%;
    width:100%;
}

#game {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  height: 500px;
  width: 500px;
  padding: 10px 10px 10px 10px;
}

.cells {
  height: 53px;
  width: 53px;
  margin: 2px 2px 2px 2px;
  background-color: #858585;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 3px -2px #323232;
}

.cells:hover {
  background-color: #CECDCD;
}

.O {
  background-color: #EBEBEB;
}

.X {
  background-color: #464646;
}
